body{
text-align: center;
background-image: url("oh.jpeg");
font-family: fantasy;
background-size: cover;
}
#submit{
margin: 20px;
color: deeppink;
background-color: deepskyblue;
}
#sorting{
    margin: 20px;
    color: deeppink;
    background-color: deepskyblue;
    display: none; 
}
#result{
    font-size: 25px;
    font-family: cursive;
    background-color: violet;
}
input{
    margin: 10px;
}
#result1{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cadetblue;
    }